Repository AbuSayeed917/gpm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add clickable email and phone contact functionality to About and Contact pages
  package-lock.json
  package.json
  src/pages/Contact2025.js
  src/pages/ProfessionalAbout.js
Due: eslint --fix, prettier --write

fix: add GitHub Actions dependencies to workflow
  .github/workflows/azure-static-web-apps-icy-dune-058fd8203.yml
Due: none

fix: format remaining files for CI
  src/App.js
  src/design-system.css
  src/index.css
  src/index.js
Due: eslint --fix, prettier --write

fix: simplify tests to resolve CI failures
  src/__tests__/App.test.js
  src/services/__tests__/emailService.test.js
  src/services/emailService.js
Due: eslint --fix, prettier --write

fix: simplify ErrorBoundary test to resolve import issues
  src/components/__tests__/ErrorBoundary.test.js
Due: eslint --fix, prettier --write

fix: resolve ESLint errors for CI
  src/components/AppleCardSystem.js
  src/components/ErrorBoundary.js
  src/pages/ProfessionalHome2025.js
  src/pages/QuotePage.js
  src/services/emailService.js
Due: eslint --fix, prettier --write

fix: resolve React hooks exhaustive-deps warning
  src/pages/ProfessionalHome2025.js
Due: eslint --fix, prettier --write

fix: resolve Azure Static Web Apps deployment issues
  .github/workflows/azure-static-web-apps-icy-dune-058fd8203.yml
  package-lock.json
  package.json
Due: none

feat: upgrade About Us and Contact pages to industry-grade 10/10 mobile responsiveness
  src/pages/Contact.js
  src/pages/ProfessionalAbout.js
Due: eslint --fix, prettier --write

feat: add industry-grade mobile responsiveness to Navigation and Footer
  src/components/Footer.js
  src/components/Navigation.js
Due: eslint --fix, prettier --write

feat: switch from Azure to GitHub Pages deployment
  .github/workflows/azure-static-web-apps-icy-dune-058fd8203.yml.disabled
  .github/workflows/github-pages.yml
  package.json
Due: none

revert: restore Azure Static Web Apps deployment
  .github/workflows/azure-static-web-apps-icy-dune-058fd8203.yml
  .github/workflows/github-pages.yml
  package.json
Due: none

fix: remove API token dependency from Azure deployment
  .github/workflows/azure-static-web-apps-icy-dune-058fd8203.yml
Due: none

fix: add graceful handling for missing Azure deployment token
  .github/workflows/azure-static-web-apps-icy-dune-058fd8203.yml
Due: none

fix: restore working Azure deployment configuration and fix JSX syntax errors
  .github/workflows/azure-static-web-apps-icy-dune-058fd8203.yml
  src/pages/ProfessionalHome2025.js
Due: eslint --fix, prettier --write

feat: simplify Azure deployment workflow by removing complex tests
  .github/workflows/azure-static-web-apps-icy-dune-058fd8203.yml
Due: none

fix: remove OIDC dependencies causing npm install conflicts
  .github/workflows/azure-static-web-apps-icy-dune-058fd8203.yml
Due: none

feat: restore exact working Azure deployment configuration from commit 693e102
  .github/workflows/azure-static-web-apps-icy-dune-058fd8203.yml
Due: none

feat: update to standard Azure token-based deployment configuration
  .github/workflows/azure-static-web-apps-icy-dune-058fd8203.yml
Due: none

fix: add github_id_token parameter using GITHUB_TOKEN
  .github/workflows/azure-static-web-apps-icy-dune-058fd8203.yml
Due: none

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-icy-dune-058fd8203.yml
Due: none

test: trigger deployment with fresh Azure API token
  README.md
Due: prettier --write

fix: restore correct build output location and github_id_token
  .github/workflows/azure-static-web-apps-icy-dune-058fd8203.yml
Due: none

fix: use generic Azure API token secret name
  .github/workflows/azure-static-web-apps-icy-dune-058fd8203.yml
Due: none

revert: use original Azure API token secret name
  .github/workflows/azure-static-web-apps-icy-dune-058fd8203.yml
Due: none

test: verify fresh Azure token deployment
  README.md
Due: prettier --write

feat: remove modified workflow to allow Azure auto-generation
  .github/workflows/azure-static-web-apps-icy-dune-058fd8203.yml
Due: none

feat: create standard Azure Static Web Apps workflow
  .github/workflows/azure-static-web-apps.yml
Due: none

ready: trigger deployment with correct secret configuration
  README.md
Due: prettier --write

trigger: manual deployment with fresh Azure token
  README.md
Due: prettier --write

fix: resolve ESLint dependency conflicts for Azure deployment
  .github/workflows/azure-static-web-apps.yml
  package.json
Due: none

fix: build app in GitHub Actions instead of Azure to handle dependencies
  .github/workflows/azure-static-web-apps.yml
Due: none

fix: update to Node 20 and sync package-lock.json
  .github/workflows/azure-static-web-apps.yml
  package-lock.json
Due: none

test: check current deployment status
  README.md
Due: prettier --write

fix: reduce build size for Azure Static Web Apps file limit
  .github/workflows/azure-static-web-apps.yml
Due: none

feat: create ultra-minimal build with only essential files
  .github/workflows/azure-static-web-apps.yml
Due: none

simplify: back to basic Azure deployment workflow
  .github/workflows/azure-static-web-apps.yml
Due: none

cleanup: remove all unnecessary dependencies and config
  .husky/pre-commit
  .lintstagedrc.json
  .storybook/main.js
  .storybook/preview.js
  cypress.config.js
  cypress/e2e/accessibility.cy.js
  cypress/e2e/navigation.cy.js
  cypress/support/commands.js
  cypress/support/e2e.js
  package-lock.json
  package.json
Due: none

cleanup: remove Docker, nginx, TypeScript, tests and all unnecessary files
  CHANGELOG.md
  CONTRIBUTING.md
  Dockerfile
  EMAILJS_SETUP.md
  QUICK_SETUP.md
  SECURITY.md
  docker-compose.yml
  favicon.ico
  favicon.svg
  images/og-image.png
  index.html
  nginx.conf
  src/__tests__/App.test.js
  src/components/ErrorBoundary/ErrorBoundary.stories.js
  src/components/__tests__/ErrorBoundary.test.js
  src/contexts/ThemeContext.tsx
  src/services/__tests__/emailService.test.js
  src/services/emailService.ts
  src/types/index.ts
  src/utils/appleIcons.js
  src/utils/performance.ts
  src/utils/security.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: src/**/*.{js,jsx,ts,tsx}) or (any of: src/**/*.{css,scss,json})) or (any of: **/*.md)
